# [NEXTAUTH]
# Cara generate: ketik di terminal: npx auth secret
AUTH_SECRET="random_string_acak_buat_enkripsi_session"

# [GOOGLE OAUTH]
# Ambil dari Google Cloud Console
AUTH_GOOGLE_ID="isi_client_id_dari_google_console"
AUTH_GOOGLE_SECRET="isi_client_secret_dari_google"

# [APP CONFIG]
# Pisahkan dengan koma jika lebih dari satu
ALLOWED_DOMAINS="@apps.ipb.ac.id"
ADMIN_EMAILS="admin1@apps.ipb.ac.id,admin2@apps.ipb.ac.id"

# [NOTES]
# R2 Storage menggunakan Native Binding ("BUCKET") di wrangler.toml.
# Tidak perlu Access Key / Secret Key di file ini.
